#container { border: 4px solid darkblue; border-radius: 25px; padding: 30px;
    /*center the container*/ width: 700px; margin: 0 auto; }
    #Name { /* For Later Use */ }
    #Age { /* For Later Use */ }
    #namesTable tr:nth-child(even) { background: dimgray; color: white;}
    #namesTable tr:nth-child(odd) { background: lightgray;}
    #namesTable th { margin-top: 50px; background: royalblue; color: white; }
    #namesTable { width: 100%; border-collapse: separate; empty-cells: show; text-align: center;}
    #namesTable tr { /*display:block;*/ min-height:20px; }
    #addNew { position: relative; margin-left: 100px;}
    #addNew .testButton { right: 0;}
    #counterDiv { float: right; padding-bottom: 10px; }
    #counter { float: right; border: none; width: 30px; }
    #showAddButton {margin-left: 35px; margin-top: 10px;}

    .note{
        vertical-align: middle;
    }

    .div_note{
        display: flex;
        align-items: center;

        border-radius: 20px;
        margin: 5px;
    }

    .showExisting{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .taskNameCol{
        width: 60%;
    }

    .round_class{
        border-radius: 20px;
        margin: 5px;
    }

    .text_area{
        width: 90px;
    }

    .right_alignment{
        text-align: right;
    }
